NEXT_PUBLIC_APP_URL=https://receipt-flex.vercel.app
NEXT_PUBLIC_BASE_APP_ID=69d4ea1b91c13596e896212a
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
NEXT_PUBLIC_BUILDER_CODE=bc_your_builder_code
NEXT_PUBLIC_FARCASTER_HEADER=REPLACE_WITH_WARPCAST_HEADER
NEXT_PUBLIC_FARCASTER_PAYLOAD=REPLACE_WITH_WARPCAST_PAYLOAD
NEXT_PUBLIC_FARCASTER_SIGNATURE=REPLACE_WITH_WARPCAST_SIGNATURE
